{% extends 'base.html.twig' %}
{% block title %}Products list{% endblock %}
{% block body %}

    {% for product in products %}
        <h4>{{ product.name }}</h4>
        <h5>{{ product.price }}</h5>
        <p>{{ product.description }}</p>
        <p>
            <a href="{{ path('getProduct', { id: product.id }) }}">View</a>
        </p>
    {% endfor %}
{% endblock %}